// Varíaveis
$p_colorA: black;
$s_colorA: orange;
$t_colorA: green;

// Nesting
h1,
h2,
p{
    color: $s_colorA;
}

nav {
    font-size: 10px;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        font-family: Arial !important;
        font-size: 15px;
        background-color: aqua;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

aside {
    border: 1px solid $s_colorA;
}

footer {
    background-color: $s_colorA;

    p {
        color: white;
    }
}

// Inheritance 
%alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80px;
    border: 1px solid $p_colorA;
    border-radius: 3px;
    font-family: Arial !important;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.success {
    @extend %alert;
    background-color: rgb(224, 255, 177);
}

.attention {
    @extend %alert;
    background-color: rgb(255, 203, 106);
}

.error {
    @extend %alert;
    background-color: rgb(255, 154, 154);
}