table {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.clients> thead {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: aliceblue;
}

.clients> tbody {
    font-family: 'courier new', courier, monospace;
    font-size: 10px;
}

thead> tr {
    background-color: rgb(53, 53, 53);
}

th,
td {
    padding: 3px 5px;
}

td {
    background-color: rgb(241, 241, 241);
}

/* Linha vertical */
.vl {
    border-left: 1px solid black;
    height: 40px;
}